<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<title>SWAT HTML Diff Tool</title>
</head>
<frameset cols="20%,80%" title="">
	<frameset rows="40%,60%" title="">
		<frame src="cases.html" name="casesFrame" title="All cases">
		<frame src="noevidences.html" name="evidencesFrame" title="All exported evidences of the selected case">
	</frameset>
	<frame src="nodifferences.html" name="diffFrame" title="Difference of the selected evidence" scrolling="yes">
	<noframes>
	<h2> Frame Alert</h2>
	<P> This document is designed to be viewed using the frames feature. If you see this message, you are using a non-frame-capable web client. <br>
	</P>
	</noframes>
</frameset>
</html>
